#btn{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 200px;
    background-color: aqua;
    border-radius: 50px;
    font-size: larger;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;

}